<div class="event">
  <div class="content">
    <div class="summary">
      (<%= message.created_at.strftime("%m/%d/%Y") %>) 
      <a><%= message.user.username %>: </a> <%= message.body %>
    </div>
  </div>
</div>